<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="app.component.css">
</head>

<body>

<div class="header">
  <div class="header-image">
    <div class="header-name-offset">
      <div class="header-name">
        <h1>Mihai Blaga</h1>
      </div>
    </div>
  </div>
</div>



<div class="intro">
  <div class="intro-text">
    <h1>Salut!</h1>
    <h2>I'm a software engineer.</h2>
    <h2>I like hard problems.</h2>
    <h2>I like to smile.</h2>
  </div>

  <img src="../assets/peace.jpg" alt="Picture of Mihai doing a peace sign.">
  
</div>


</body>
</html>